.App {
  text-align: center;
}

.KirjaLista {
  text-align: justify;
  color: white;
  padding: 1em;
}

.KirjaLista table {
  width: 100%;
}

.KirjaLista td {
  padding: 1pt 2pt;
}

.KirjaLista tr:nth-of-type(2n) td {
  background-color: darkgray;
}
.KirjaLista tr:nth-of-type(2n+1) td {
  background-color: gray;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
